<fieldset>
  <form (ngSubmit)=onSubmit()>
    <div>
      <label for="business_name">Business Name:</label>
      <input [(ngModel)]="support.business_name" name="business_name">
    </div>
    <div>
      <label for="first_name">First Name:</label>
      <input name="first_name" [(ngModel)]="support.first_name">
    </div>
    <div>
      <label for="last_name">Last Name:</label>
      <input name="last_name" [(ngModel)]="support.last_name">
    </div>
    <div>
      <label for="phone">Phone Number:</label>
      <input name="phone_number"[(ngModel)]="support.phone_number">
    </div>

    <div>
      <label for="email">Email: </label>
      <input name="email"[(ngModel)]="support.email">
    </div>

    <div>
      <label for="subject">Subject: </label>
      <input name="subject" [(ngModel)]="support.subject">
    </div>

    <div>
      <label for="message">Message: </label>
      <input name="message" [(ngModel)]="support.message">
    </div>

    <button type="submit">Submit</button>
  </form>
</fieldset>
