<button><a [routerLink]="['/profile']">Back</a></button>
<hr>

<h1>Your Deliveries</h1>

<div>
  Pickup Information
<ul *ngFor="let delivery of delivery">
  <li>
    <label for="business_name"><strong>Business Name: </strong></label>
    {{delivery.pickup_business_name}}
    <br>
    <label for="address"><strong>Address: </strong></label>
    {{delivery.pickup_address}} {{delivery.pickup_address2}}, {{delivery.pickup_city}},
    {{delivery.pickup_state}}, {{delivery.pickup_zipCode}}
    <br>
    <label for="status"><strong>Status: </strong></label>
    {{delivery.status}}
  </li>
</ul>
</div>

<div>
  Delivery Information
  <ul *ngFor="let delivery of delivery">
    <li>
      <label for="business_name"><strong>Business Name: </strong></label>
      {{delivery.dropoff_business_name}}
      <br>
      <label for="address"><strong>Address: </strong></label>
      {{delivery.dropoff_address}} {{delivery.dropoff_address2}}, {{delivery.dropoff_city}},
      {{delivery.dropoff_state}}, {{delivery.dropoff_zipCode}}
      <br>
      <label for="status"><strong>Status: </strong></label>
      {{delivery.status}}
    </li>
  </ul>
</div>
