<button><a [routerLink]="['/profile']">Cancel</a></button>
<hr>
<form (ngSubmit)="onSubmit()">
  <h3>Pickup Information:</h3>
  <div>
    <label for="pickup_business_name">Business Name:</label>
    <input
    type="text"
    [(ngModel)]="delivery.pickup_business_name"
    name="pickup_business_name">
  </div>

  <div>
    <label for="phone">Phone Number:</label>
    <input
    type="text"
    [(ngModel)]="delivery.pickup_phone_number"
    name="pickup_phone_number">
  </div>

  <div>
    <label for="address">Address: </label>
    <input
    type="text"
    [(ngModel)]="delivery.pickup_address"
    name="pickup_address">
  </div>

  <div>
    <label for="address_2">Address2: </label>
    <input
    type="text"
    [(ngModel)]="delivery.pickup_address2"
    name="pickup_address2">
  </div>

  <div>
    <label for="city">City: </label>
    <input
    type="text"
    [(ngModel)]="delivery.pickup_city"
    name="pickup_city">
  </div>

  <div>
    <label for="state">State: </label>
    <input
    type="text"
    [(ngModel)]="delivery.pickup_state"
    name="pickup_state">
  </div>

  <div>
    <label for="zip_code">Zip Code: </label>
    <input text="text"
    [(ngModel)]="delivery.pickup_zipCode"
    name="pickup_zipCode">
  </div>
  <h3>Delivery Information:</h3>
    <div>
      <label for="business_name">Business Name:</label>
      <input
      type="text"
      [(ngModel)]="delivery.dropoff_business_name"
      name="dropoff_business_name">
    </div>

    <div>
      <label for="phone">Phone Number:</label>
      <input
      type="text"
      [(ngModel)]="delivery.dropoff_phone_number"
      name="dropoff_phone_number">
    </div>

    <div>
      <label for="address">Address: </label>
      <input
      type="text"
      [(ngModel)]="delivery.dropoff_address"
      name="dropoff_address">
    </div>

    <div>
      <label for="address_2">Address2: </label>
      <input
      type="text"
      [(ngModel)]="delivery.dropoff_address2"
      name="dropoff_address2">
    </div>

    <div>
      <label for="city">City: </label>
      <input
      type="text"
      [(ngModel)]="delivery.dropoff_city"
      name="dropoff_city">
    </div>

    <div>
      <label for="state">State: </label>
      <input
      type="text"
      [(ngModel)]="delivery.dropoff_state"
      name="dropoff_state">
    </div>

    <div>
      <label for="zip_code">Zip Code: </label>
      <input
      text="text"
      [(ngModel)]="delivery.dropoff_zipCode"
      name="dropoff_zipCode">
    </div>

    <button type="submit">Submit</button>
  </form>
