<div class="container" >
  <div class="title">
    Login
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="input-field col s12">
        <input [(ngModel)]="user.email" id="email"
        type="email" class="validate">
        <label for="email">Email</label>
      </div>
    </div>

    <div class="row">
      <div class="input-field col s12">
        <input [(ngModel)]="user.password" id="password"
        type="password" class="validate">
        <label for="password">Password</label>
      </div>
    </div>

    <span>{{errorMsg}}</span>
    <button (click)="Login()"
    class="btn waves-effect waves-light"
    type="submit" name="action">Login</button>
  </div>
</div>
