
  <div class="container" *ngIf="isLoggedIn() === true">
      <nav>
          <ul class="nav">
              <li><a [routerLink]="['/home']">Home</a></li>
              <li><a [routerLink]="['/about']">About</a></li>
              <li><a [routerLink]="['/profile']">Profile</a></li>
              <li><a [routerLink]="['/support']">Support</a></li>
              <li><button (click)=Logout()>Logout</button>
          </ul>
      </nav>
  </div>

  <div class="container" *ngIf="isLoggedIn() === false">
      <nav>
          <ul class="nav">
              <li><a [routerLink]="['/home']">Home</a></li>
              <li><a [routerLink]="['/about']">About</a></li>
              <li><a [routerLink]="['/courier_reg']">Courier Registration</a></li>
              <li><a [routerLink]="['/login']">Login</a><li>
              <li><a [routerLink]="['/support']">Support</a></li>
          </ul>
      </nav>
  </div>

<router-outlet></router-outlet>

<footer></footer>
