.sidenav {
    line-height:30px;
    background-color:#eeeeee;
    height:50%;
    width:20%;
    float:left;
    padding:5px;
}
.nav li {
  display: inline;
}
footer {
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
}
