<div>
  Customer List
<ul *ngFor="let customer of customer">
  <li>
    <label for="business_name"><strong>Business Name: </strong></label>
    {{customer.business_name}}
    <br>
    <label for="address"><strong>Address: </strong></label>
    {{customer.address}} {{customer.address2}}, {{customer.city}},
    {{customer.state}}, {{customer.zip_code}}
  </li>
</ul>
</div>

<div>
  Courier List
<ul *ngFor="let courier of courier">
  <li>
    {{courier.id}})
    <label for="name"><strong>Name: </strong></label>
    {{courier.first_name}} {{courier.last_name}}
    <br>
    <label for="address"><strong>Address: </strong></label>
    {{courier.address}} {{courier.address2}}, {{courier.city}},
    {{courier.state}}, {{courier.zip_code}}
  </li>
</ul>
</div>
