<h2>Register as a customer today!</h2>
<form (ngSubmit)=onSubmit()>

    <label>Username: </label>
    <input [(ngModel)]="user.email" name="email" placeholder="Email">

    <label for="password">Password: </label>
    <input required type="password" name="password" [(ngModel)]="user.password" placeholder="Password">

  <button type='submit'>Submit</button>
</form>
