<div *ngIf="UserType() === 'customer'">
  <button><a [routerLink]="['/profile']">Cancel</a></button>
  <hr>
    <form (ngSubmit)="onCustomerSubmit()">
      <div>
        <label for="business_name">Business Name:</label>
        <input
        type="text"
        [(ngModel)]="customer.business_name"
        name="customer_business_name">
      </div>

      <div>
        <label for="phone">Phone Number:</label>
        <input
        type="text"
        [(ngModel)]="customer.phone_number"
        name="customer_phone_number">
      </div>

      <div>
        <label for="address">Address: </label>
        <input
        type="text"
        [(ngModel)]="customer.address"
        name="customer_address">
      </div>

      <div>
        <label for="address_2">Address2: </label>
        <input
        type="text"
        [(ngModel)]="customer.address_2"
        name="customer_address2">
      </div>
      <div>
        <label for="city">City: </label>
        <input
        type="text"
        [(ngModel)]="customer.city"
        name="customer_city">
      </div>

      <div>
        <label for="state">State: </label>
        <input
        type="text"
        [(ngModel)]="customer.state"
        name="customer_state">
      </div>

      <div>
        <label for="zip_code">Zip Code: </label>
        <input
        text="text"
        [(ngModel)]="customer.zip_code"
        name="zip_code">
      </div>

      <button type="submit">Submit</button>
    </form>
</div>

<div *ngIf="UserType() === 'courier'">
  <button><a [routerLink]="['/profile']">Cancel</a></button>
  <hr>
    <form (ngSubmit)="onCourierSubmit()">
      <div>
        <label for="first_name">First Name:</label>
        <input
        type="text"
        [(ngModel)]="courier.first_name"
        name="courier_first_name">
      </div>

      <div>
        <label for="last_name">Last Name:</label>
        <input
        type="text"
        [(ngModel)]="courier.last_name"
        name="courier_last_name">
      </div>

      <div>
        <label for="phone">Phone Number:</label>
        <input
        type="text"
        [(ngModel)]="courier.phone_number"
        name="courier_phone_number">
      </div>

      <div>
        <label for="address">Address: </label>
        <input type="text"
        [(ngModel)]="courier.address"
        name="courier_address">
      </div>

      <div>
        <label for="address_2">Address2: </label>
        <input type="text"
        [(ngModel)]="courier.address_2"
        name="courier_address_2">
      </div>

      <div>
        <label for="city">City: </label>
        <input type="text"
        [(ngModel)]="courier.city"
        name="courier_city">
      </div>

      <div>
        <label for="state">State: </label>
        <input type="text"
        [(ngModel)]="courier.state"
        name="courier_state">
      </div>

      <div>
        <label for="zip_code">Zip Code: </label>
        <input text="text"
        [(ngModel)]="courier.zip_code"
        name="courier_zip_code">
      </div>

      <button type="submit">Submit</button>
    </form>
</div>
