<div *ngIf="UserType() === 'customer'">
  <button><a [routerLink]="['/create_delivery']">Create Delivery</a></button>
  <button><a [routerLink]="['/edit_profile']">Edit Profile</a></button>
  <button><a [routerLink]="['/customer_delivery_home']">Current Deliveries</a></button>
  <hr>

  <div>
    <p>This page needs the following content: </p>
    <ul class="sidenav">
      <li>Page that has current Active deliveries with their current status</li>
      <li>Page that has all previous deliveries</li>
      <li>Profile which contains:</li>
      <li>Billing Information</li>
      <li>Logout</li>
    </ul>
  </div>

  <p *ngFor="let customer of customer">
    <label for="business_name"><strong>Business Name: </strong>
      {{customer.business_name}}</label>
    <br>
    <label for="address"><strong>Address: </strong></label>
    {{customer.address}}
      {{customer.address_2}} {{customer.city}} {{customer.state}}
    {{customer.zip_code}}
  </p>
</div>

<div *ngIf="UserType() === 'courier'">
    <button><a [routerLink]="['/edit_profile']">Edit Profile</a></button>
    <button><a [routerLink]="['/edit_vehicle']">Edit Vehicle Information</a></button>
    <hr>
  <div>
    <p>This page needs the following content: </p>
    <ul class="sidenav">
      <li>Profile</li>
      <li>Manage Documents</li>
      <li>Vehicles</li>
    </ul>
  </div>

  <p *ngFor="let courier of courier">
    <label for="name"><strong>Name: </strong>
    {{courier.first_name}} {{courier.last_name}}</label>
</div>
