<form (ngSubmit)=onSubmit()>

  <label for="e-mail">E-Mail: </label>
  <input required type="email" name="email" [(ngModel)]="user.email" placeholder="E-mail">

  <label for="password">Password: </label>
  <input required type="password" name="password" [(ngModel)]="user.password" placeholder="Password">

  <button type='submit'>Submit</button>
</form>
