<!doctype html>
<html>

<head>
  <meta charset="utf-8">
  <title>Acfrontend</title>
  <base href="/"> {{#unless environment.production}}
  <script src="/ember-cli-live-reload.js" type="text/javascript"></script>
  <script src="http://cdn.auth0.com/js/lock/10.0.0-rc.1/lock.min.js"></script>
  {{/unless}}
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
  <app-root>Loading...</app-root>



  {{#each scripts.polyfills}}
  <script src="{{.}}"></script>
  {{/each}}
  <script>
    System.import('system-config.js').then(function() {
      System.import('main');
    }).catch(console.error.bind(console));
  </script>



</body>

</html>
